.popup__close{
  border: none;
  background: none;
  position: absolute;
  top: -40px;
  right: -42px;
  transition: opacity 0.1s linear;
  cursor: pointer;
  background-image: url(../../../images/Close-Icon.svg);
  width: 32px;
  height: 32px;
  padding: 0;
}
  
.popup__close:hover{
  opacity: 0.6;
}
  
@media screen and (max-width: 660px){
  .popup__close{
    right: -4px;
    top: -36px;
    background-image: url(../../../images/Close-Icon320.svg);
    width: 20px;
    height: 20px;
  }
}