.popup__window{
  background: #FFFFFF;
  border-radius: 10px;
  width: 430px;
  min-height: 330px;
  position: relative;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 660px) {
  .popup__window {
    width: 282px;
    min-height: 322px;
  }
}
