.profile__avatar{
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
}

@media screen and (max-width: 660px){
  .profile__avatar{
    margin-left: auto;
    margin-right: auto;
  }
}
