.popup__button_inactive{
  color:  rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.popup__button_inactive:hover {
  color:  rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
}