.subtitle-input-error{
  position: absolute;
  top: 205px;
  left: 36px;
}

@media screen and (max-width: 660px) {
  .subtitle-input-error{
    position: absolute;
    top: 210px;
    left: 22px;
  }
}