.profile__author{
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  padding-top: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}


@media screen and (max-width: 660px){
  .profile__author{
    font-size: 27px;
    line-height: 33px;
    font-weight: 500;
    padding-top: 0px;
    max-width: 200px;
  }
}
