.profile__change-button{
    color: #FFFFFF;
    transition: opacity 0.3s ease;
    position: relative;
    background-color: #000000;
    border: none;
    width: 120px;
    height: 120px;
    padding: 0;
    margin-right: 30px;
  }
  
  .profile__change-button::before{
    content: "";
    background-image: url(../../../images/ChangeButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s ease opacity;
  }
  
  .profile__change-button:hover:before{
    opacity: 0.8;
    background-color: #000000;
  }
  
  @media screen and (max-width: 660px){
    .profile__change-button {
      margin: 0 auto;
    }
  }  